@font-face {
    font-family: TT Alients;
    src: url(TT\ Alientz\ Trial\ Grotesque.otf);
}
header h1{
    text-align: center;
    margin-top: 1%;
}
.cabeçalho-conteiner{
    display: flex;
    flex-direction: row;
    justify-content: end;
}




