:root{
    --cor-textoprincipal: #BD5F00;
    --fonte-titulos: MinSans;
    
}
@font-face {
    font-family: MinSans;
    src: url(MinSans-Regular.ttf);
}
body{
    background: rgb(0, 0, 0)
    
}
/*-----CABEÇALHO------*/
header{
   
}
.redes-sociais{
    display: flex;
    justify-content: end;
    margin:  10px;
}

.redes-sociais img{
    padding-left: 30px;
}
/*-----CABEÇALHO 2-----*/
.boa-vindas h1{
   
    font-family: MinSans;
    margin-left: 40%;
    font-size: 40px;
    color: white;
}
/*------PRINCIPAL 1------*/
.principal__container{
    display: flex;
    justify-content: flex-start;
}
.foto-principal{
    margin-top: 20px;
    
}
.foto-principal img:hover{
    width: 700px;
    transition: 2s;
}
/*-----TEXTO PRINCIPAL-----*/
.texto-principal{
    display: flex;
    flex-direction: column;
}
.texto-principal{
    text-align: center;
    margin-top: 8%; 
}
.texto-principal:hover{
    font-size: 19px;
    transition: 2s;
}
.paragrafo-1{
    color: var(--cor-textoprincipal);
    font-weight: bold;
    font-size: 4.1em;
    font-family: var(--fonte-titulos);
}
.nome-mkdigital{
    font-weight: bold;
    color: white;
}
.paragrafo-2{
    color: white;   
    font-size: 2.2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
}
hr{
    margin-top: 5%;
    margin-bottom: 5%;
}
/*-----Principal 2 - Página 2-----*/
.principal-2{
    background: linear-gradient(rgb(235, 215, 160), rgba(255, 255, 255, 0.658));
   
}
.texto-principal-2__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.texto-principal-2__container strong{
   color: var(--cor-textoprincipal);
   font-weight: bold;
   
}
.paragrafo-pagina-2{
    margin: 10%;
    font-size: 35px;
    text-align: center;
    font-family: MinSans;
    font-weight:lighter;
}
.texto-principal-2__container img{
   margin: 5%;
}
/*Principal 2 - página 3*/
figure{
    background: linear-gradient(rgba(255, 255, 255, 0.658),rgb(235, 215, 160));
   text-align: center;
}



